<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodata Diri</title>
</head>
<body>
    <h1 align="center">BIODATA DIRI</h1>
    <hr width="600px">
    <table align="center">
        <tr>
            <td>Nama : {{nama}}</td>
            <td rowspan="6">
                <img src="{{foto}}" alt="foto saya" height="200px" width="150px">
            </td>
        </tr>
        <tr><td>Tempat/Tgl Lahir : {{ttl}}</td></tr>
        <tr><td>Jenis Kelamin : {{jk}}</td></tr>
        <tr><td>Alamat : {{alamat}}</td></tr>
        <tr><td>Kegiatan : {{kegiatan}}</td></tr>
    </table>
</body>
</html>
